chatgpt.pdf
Data Views Berita.xlsx
Rekap Data_Views.xlsx
Topik Berita Agama & Kebudayaan.xlsx
Topik Berita Ekonomi Industri.xlsx
Topik Berita Hukum Kriminal.xlsx
Topik Berita Kesehatan.xlsx
Topik Berita Olahraga.xlsx
Topik Berita Pariwisata.xlsx
Topik Berita Pendidikan.xlsx
Topik Berita Politik.xlsx
Topik Berita Sosial Lingkungan.xlsx
Topik Berita Teknologi.xlsx


